body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 42px 42px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-header {
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: #E5E7EB;
    color: white;
    font-size: 18px;
    /* width: 100px;
    height: 50px; */
}

.part-one, .part-two, .notification {
    padding-inline: 42px;
}

.information {
    font-size: 36px;
    font-wieght: 900;
    color: #1F2937;
}

.part-two {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.notification {
    background-color: #3882F6;
}

.notification-button, .intro-button {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 42px;
    color: white;
    flex: 1;
}
