body {
    font-family: Roboto, sans-serif;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 0 100px 100px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
}

.sec-header {
    display: flex;
    justify-content: space-between;
    /* padding: 42px; */
    gap: 16px;

}

.intro-button, .notification-button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 1px solid #3882F6;
    color: white;
    width: 100px;
    height: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: #E5E7EB;
    color: white;
    font-size: 18px;
    width: 700px;
    /* height: 50px; */
}

.part-one, .part-two, .notification {
    padding-inline: 42px;
}

.part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    padding: 42px;

}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    /* height: 200px; */
}

.box {
    width: 160px;
    height: 160px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.box-text {
    font-size: 8px;
    text-align: center;
}

.part-two {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.author {
    font-size: 26px;
    /* font-weight: 00; */
}

.part-three {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.notification-bar {
    background-color: #3882F6;
    color: white;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 42px;
}

.notification-title {
    margin: 0;
}

.notification-button {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline: 42px; */
    color: white;
}
